# Application versions
BACKEND_VERSION=0.0.1
FRONTEND_VERSION=0.0.1

# Database
POSTGRES_PASSWORD=changeme

# ZITADEL OIDC
ZITADEL_CLIENT_ID=YOUR_DEV_CLIENT_ID

# Blue-green deployment
FRONTEND_BLUE_ACTIVE=true
FRONTEND_GREEN_ACTIVE=false
ACTIVE_COLOR=blue
