ZITADEL_ISSUER_URI=https://sso.dev.goaldone.de
ZITADEL_SERVICE_ACCOUNT_TOKEN=
ZITADEL_GOALDONE_PROJECT_ID=368981415120863239
ZITADEL_GOALDONE_ORG_ID=368981225236398087
API_BASE_PATH=http://localhost:8080/api/v1
ZITADEL_CLIENT_ID=