:host ::ng-deep {
  .p-drawer {
    width: 18rem;
  }

  .p-menu {
    width: 100%;
    border: none;
    background: transparent;
  }

  .p-drawer-header {
    padding: 1rem;
    font-weight: 700;
    color: var(--p-primary-color);
  }

  .p-menuitem-icon {
    color: var(--p-primary-color);
  }

  .p-menuitem-text {
    font-weight: 500;
  }
}
